# Build artifacts
/build/
/install/

# Compiled Python files
*.pyc

# Compiled C++ files
*.o
*.so

# ROS2 build and install directories
/build_isolated/
/install_isolated/

# IDE files
.vscode/
.idea/

# Log files
*.log

# Temporary files
*.tmp
